<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.4" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.1.1" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net48" />
</packages>